<h1>Listing organizations</h1>

<table>
  <tr>
  </tr>

<body>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%=h organization.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New organization', new_organization_path %>
